<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="home"><a href="/">back</a></div>
    <form action="/order-check" method="post">
        <div class="category-wrap">
            <div class="category">
                <a href="/order">전체</a>
            </div>
            {{filterHTML}}
        </div>
        <div class="menu-wrap">
            {{menuList}}
        </div>
        <input class="submit" type="submit" value="제출">
    </form>
</body>

</html>