.order {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
}

.line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.column {
    width: 120px;
}

.title {
    font-size: 25px;
}

.line > a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    font-weight: 700;
    width: 60px;
    height: 40px;
}