* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

.root {
    display: flex;
    flex-direction: column;
}

.root>a {
    margin: 10px;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    user-select: none;
}

.root>a:hover {
    color: rgb(246, 122, 40);
}

.menu-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 300px;
}

.menu-data-wrap {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    margin-top: 2px;
}

.menu-title {
    font-weight: 600;
    font-size: 25px;
}

.menu-content {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

.menu-price {
    font-family: 600;
}

.menu-data-wrap>input {
    width: 100px;
    padding: 2px;
}

.submit {
    width: 100px;
}

.category-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}

.category {
    user-select: none;
    margin-top: 20px;
    margin-left: 18px;
}

.category>a {
    font-size: 22px;
    font-weight: 600;
    color: #777;
}

.category>a:hover {
    color: #ff9514;
}

.selected>a {
    color: #ff9514;
}

.home {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 600;
}